<h3>Profile: <%= @user.email %></h3>
<div>
    Active Servers
<table>
    <th>Name</th>
    <th>Status</th>
    <th>Players Online</th>
    <th>Manage</th>
    <th>Cancel</th>
    <th>Renew Date</th>
    <% @activeServers.find_each do |server| %>
    <% serverInfo = Server.find_by(purchase_id: server.id) %>
    <tr>
        <td><%= serverInfo.name %></td>
        <td><%= serverInfo.status %></td>
        <td><%= 'TODO'  %></td>
        <td><%= link_to "Manage", manage_url(server.id), :method => "get", :class => "btn btn-primary" %></td>
        <td>
        <% if !server.cancelled %>
        <%= link_to "Cancel", new_cancel_url(server.id), :method => "get", :class => "btn btn-danger"%>
        <% else %>
        <%= link_to "Enable", re_enable_url(server.id), :method => "post", :class => "btn btn-primary"%>
        <% end %>
        </td>
        <td><%= server.expireDate %></td>
    </tr>
    
    <% end %>
</table>

</div>