<!DOCTYPE html>
<html>
<head>
  <title>PUBG-Servers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.stripe.com/v3/"></script>
  
  <nav class='navbar navbar-default navbar-static-top'>

    <div class='container'>
      
      <div class='navbar-header'>
        
        <%= link_to "PUBG-Servers", root_path, class: "navbar-brand"%>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= user_profile %></li>
        <li><%= loggedState %></li>
        <li><%= link_to "Blog", blog_path%></li>
        <li><%= link_to "About", about_path%></li>
        <li><%= link_to "FAQ", faq_path%></li>
      </ul>

    </div>

  </nav>
  
</head>
<body>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
</body>




<footer>
  <div class="container">
    <ul class="nav nav-pills footerLinks">
      <li><%= link_to "Twitter", "#"%></li>
      <li><%= link_to "Facebook", "#"%></li>
      <li><%= link_to "Discord", "#"%></li>
    </ul>
  </div>
  
  
</footer>
</html>
